@import './veribales.scss';
body {
  position: relative;
}
.modal__shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(24, 21, 21, 0.575);
  z-index: 100;
}
.modal__allCard {
  display: flex;
  justify-content: center;
}
.modal__wrapper {
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: white;
  z-index: 100;
  position: fixed;
  top: 35%;
  margin: 0 10px;
}
.modal__body {
  text-align: center;
  & h1 {
    @include boldText;
  }
  & p {
    @include regularText;
  }
  & button {
    @include btn;
    margin-top: 5px;
  }
}

.modal__line {
  height: 2px;
  background-color: black;
}
